@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background: linear-gradient(rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 0.82)), url("../img/Background.png") no-repeat center;
}

p, h1, h2, h3, h4, h5, h6, span {
  cursor: default;
}

.text {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4vw;
  font-family: "Bebas Neue", cursive;
  writing-mode: vertical-lr;
}
.text p {
  font-size: calc(0.7vh + 0.7vw);
  margin: 0;
}
.text span {
  padding: 3vh 0;
  font-size: calc(2.5vh + 2.5vw);
  margin: 0;
}

.left p {
  transform: rotate(180deg);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content a, .content button, .content p {
  text-align: center;
  margin-top: 0;
}
.content #prof {
  font-size: calc(1.2vh + 1.2vw);
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.7vw;
  margin-bottom: 0;
}
.content #nickname {
  margin-bottom: 2vh;
  font-family: "Poppins", sans-serif;
  font-size: calc(1vh + 7vw);
  letter-spacing: 1vw;
}
.content a {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5vw;
  color: #737373;
  text-decoration: none;
  font-size: calc(1vh + 1vw);
  margin-bottom: 1vh;
  outline: none;
}
.content input {
  cursor: pointer;
  letter-spacing: 0.7vw;
  font-family: "Bebas Neue", cursive;
  margin-top: 5vh;
  background: none;
  border: 0.2vw solid black;
  font-size: calc(1.5vh + 1.5vw);
  padding: 2vh 3vw;
  border-radius: 5vw;
}
.content input:hover {
  background-color: #ffffff50;
}

.menu {
  z-index: 998;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu h1 {
  padding: 1vh 5vh;
  background-color: rgba(239, 239, 239, 0.76);
  box-shadow: 0 0 5vw #737373;
}
.menu .links__wrapper {
  display: flex;
  background-color: rgba(220, 220, 220, 0.87);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 60vh;
  max-width: 25vw;
  padding: 10vh;
  overflow: auto;
  box-shadow: 0 0 5vw rgba(190, 190, 190, 0.76);
}
.menu .links-row {
  width: 20vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  font-size: calc(1vh + 1vw);
}
.menu .links-row:hover {
  color: coral;
}
.menu a {
  text-align: center;
  font-size: calc(1vh + 1vw);
  color: inherit;
  text-decoration: underline 0.1em rgba(255, 255, 255, 0);
  transition: color 300ms, text-decoration-color 300ms;
}
.menu a:hover {
  text-decoration-color: inherit;
}
.menu .privateLink:hover {
  text-decoration: underline 0.1em rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .menu .links__wrapper {
    min-width: 90vw;
    padding: 2vh 0;
  }
  .menu .links-row {
    margin-top: 1vh;
    min-width: 40vw;
    height: 2vh;
    display: flex;
    justify-content: space-between;
    font-size: calc(1vh + 1vw);
  }
  .menu .links-row a {
    height: 4vh;
  }
  .menu .links-row:hover {
    color: coral;
  }
}

/*# sourceMappingURL=index.css.map */
